/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.nm-scroller {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & .nm-scroller-nav {
    display: flex;
    margin: 30px 0;
    z-index: 2;
    @media (max-width: 992px) {
      width: 100%;
      justify-content: center;
    }
    & .nm-scroller-left,
    & .nm-scroller-right {
      width: 60px;
      height: 50px;
      background-image: url(../img/deary-nav-right.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      cursor: pointer;
    }
    & .nm-scroller-left {
      margin-right: 40px;
      transform: rotate(180deg);
    }
  }
  & .nm-scroller-pages {
    width: 100%;
  }
  & .nm-scroller-page-number {
    display: flex;
    align-items: center;
    margin: 0 20px;
    & .nm-scroller-cur-page {
      font-size: 4rem;
      font-weight: 500;
      font-family: "Courier New", Courier, monospace;
    }
    & .nm-scroller-total-pages {
      font-size: 2rem;
      font-weight: 300;
      font-family: "Courier New", Courier, monospace;
    }
  }
}
